@page "/pricing"

<div class="row m-0">
    <div class="col-6 p-0">
        <img src="/Pictures/Bull.jpg" class="pricing-image"/>
    </div>
    <div class="col-6 pricing-container">
        <h1 class="pricing-h1">All Astra Subscription</h1>
        <h1 class="pricing-h1">$49.95</h1>
        <ul class="pricing-ul">
            <li>Hassle Free Trading</li>
            <li>24/7 Support Through Discord</li>
            <li>12% Annual ROI</li>
            <li>Portfolio Analytics</li>
            <li>Multiple Trading Styles</li>
        </ul>
    </div>
</div>