<div class="lds-image" style="text-align:center; margin:0 auto; top: 50%; transform: translateY(450%); transform: translateY(450%);">
    <div>
        <img class="blink-image" src="/Pictures/AstraAlgo-v1.png">
    </div>
</div>

<style>

    .blink-image {
        -moz-animation: blink normal 2s infinite ease-in-out; 
        -webkit-animation: blink normal 2s infinite ease-in-out; 
        animation: blink normal 2s infinite ease-in-out; 
    }

    @@-moz-keyframes blink {
        0% {
            opacity:1;
        }
        50% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    @@-webkit-keyframes blink {
        0% {
            opacity:1;
        }
        50% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    /* IE */
    @@-ms-keyframes blink {
        0% {
            opacity:1;
        }
        50% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    /* Opera and prob css3 final iteration */
    @@keyframes blink {
        0% {
            opacity:1;
        }
        50% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }


</style>