@inherits LayoutComponentBase
<!---->
<div id="page-container">
    <div id="content-wrap">
        <NavMenu />
        @Body
    </div>
    <footer id="footer">
        <div class="footer">
            <div class="row footer-row">
                <div class="footer-column">
                    <h4>Contact Us</h4>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="https://discord.com/">Discord</a></li>
                        <li class="nav-item"><a class="nav-link" href="mailto:support@astraalgo.com">support@astraalgo.com</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Additional Information</h4>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/About-Us" target="_blank">About us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Privacy-Policy" target="_blank">Privacy Policy</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Terms-And-Conditions" target="_blank">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>