<!--<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Astra Algo</a>-->
<nav>
    
    <!--<AccessControl />-->
</nav>
<NavBarTabs />
@code {

}
